.o_kanban_record {
    border-radius: 12pt !important;

    .img {
        border-radius: 12pt!important;
        }
    }

.o_field_widget > ddv {
    border-radius: 12pt!important;
    }

.d-inline-block {
    border-radius: 12pt!important;
}

  .img {
        border-radius: 5pt!important;
        }